package {{package}};

{{#imports}}import {{import}};
{{/imports}}

import {{invokerPackage}}.util.ResourceResponse;

{{#rxInterface}}
import static {{invokerPackage}}.util.ResourceResponseRxWrapper.emptyHeaderWrapper;

import io.reactivex.Single;
{{#hasAuthMethods}}
import io.vertx.reactivex.ext.auth.User;
{{/hasAuthMethods}}
{{/rxInterface}}
{{^rxInterface}}
import io.vertx.core.AsyncResult;
import io.vertx.core.Handler;
{{#hasAuthMethods}}
import io.vertx.ext.auth.User;
{{/hasAuthMethods}}
{{/rxInterface}}

public interface {{classname}}  {
{{#operations}}
{{#operation}}
    //{{#vendorExtensions}}{{x-serviceId}}{{/vendorExtensions}}
    {{#rxInterface}}
{{>RxMethod}}
    {{/rxInterface}}
    {{^rxInterface}}
{{>AsyncMethod}}
    {{/rxInterface}}
    
{{/operation}}
{{/operations}}
}
