package {{package}};

import com.github.phiz71.vertx.swagger.router.ApiException;

public class {{classname}}Exception extends ApiException {

	private static final long serialVersionUID = 1L;

    public {{classname}}Exception(int statusCode, String statusMessage) {
        super(statusCode, statusMessage);
    }
    
    {{#operations}}{{#operation}}{{#responses}}{{^isDefault}}public static class {{{operationIdCamelCase}}}{{{code}}}Exception extends {{classname}}Exception {
        private static final long serialVersionUID = 1L;
        
        public {{{operationIdCamelCase}}}{{{code}}}Exception() {
        	super({{{code}}}, "{{{message}}}");
        }
    }
    {{/isDefault}}{{/responses}}{{/operation}}{{/operations}}

}