            service.{{operationId}}WithHeader({{#hasParams}}{{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}{{/hasParams}}{{#hasAuthMethods}}{{#hasParams}}, {{/hasParams}}io.vertx.reactivex.ext.auth.User.newInstance(user){{/hasAuthMethods}}).subscribe(
                verticleHelper.getRxResultHandler(message),
                verticleHelper.getErrorAction(message, {{#vendorExtensions}}{{x-serviceId-varName}}{{/vendorExtensions}})
            );