    public Single<ResourceResponse<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Void{{/returnType}}>> {{operationId}}({{#allParams}}{{#isEnum}}{{#isPrimitiveType}}{{{datatypeWithEnum}}}{{/isPrimitiveType}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}{{#hasAuthMethods}}{{#hasParams}}, {{/hasParams}}User user{{/hasAuthMethods}}){
        throw new java.lang.UnsupportedOperationException("Not implemented, yet") ;
    };